<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src=" {{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }} "></script>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="nav">
        <a class="navbar-brand" href="#">COMENTARIOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            
            {% block li_principal %}

            {% endblock %}
           
            {% block li %}

            {% endblock %}

          </ul>
        </div>
 
        {% block nav %}

        {% endblock %}
        
      </nav>


    <div class="container p-3">
        {% block content %}
        {% endblock %}
    </div>


    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>